@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #fff;
}

/* Fix for white space caused by Toastify */
.Toastify {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 9999;
}

.Toastify:empty {
  display: none;
}

.Toastify > * {
  pointer-events: auto;
}
